* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 50px;
  width: 75%;
  margin-left: 7em;
}

.container {
  border-bottom: 1px solid #868686;
}

.head {
  font-weight: bold;
  color: #5a5a5a;
  font-size: 50px;
}

.revise {
  margin-left: 73%;
}

.delete {
  margin-left: 15px;
}

.revise a {
  font-size: 18px;
  color: #5a5a5a;
  text-decoration: none;
}

.revise a:hover {
  text-decoration: underline;
}

.delete a {
  font-size: 18px;
  color: red;
  text-decoration: none;
}

.delete a:hover {
  text-decoration: underline;
}

.text {
  padding-top: 15px;
  margin-bottom: 100px;
  color: #656565;
  font-size: 30px;
}

.information {
  border-bottom: 1px solid #868686;
}
.information .info {
  font-weight: bold;
  color: #5a5a5a;
  font-size: 20px;
}

.information .info-write {
  margin-left: 15px;
  color: #5f5f5f;
}

.info-list {
  margin-top: 5px;
}

.MBTI,
.height,
.weight,
.hobby {
  margin-left: 30px;
}

.gender-spec,
.MBTI-spec,
.height-spec,
.weight-spec,
.hobby-spec {
  color: #5cc7f0;
}

.reply {
  margin-top: 10px;
}

.reply-text {
  width: 97%;
  height: 50px;
  font-size: 20px;
}

.submit {
  float: right;
  width: 33px;
  height: 50px;
  font-size: 15px;
}

.comment {
  display: flex;
  margin-bottom: 5px;
  margin: 0px;
}

.remove {
  margin-left: auto;
  color: red;
}

.comment a {
  color: red;
  text-decoration: none;
}
