{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}" />
    <script src="{% static 'js/sign_up.js' %}" defer></script>
    <title>회원가입</title>
  </head>
  <o>
    <div class="main_container">
      <div class="sign_up_container">

        <div class="text_big">회원가입</div>
        <form action="{% url 'edit_account_backend' user.id %}" method="POST">
          {% csrf_token %}
        <div class="text_name">학과</div>
        <div>
          <input type="text" name="major" id="depart" value="{{user.major}}" placeholder="{{user.major}}" class="input_select">
        </div>
        <div class="text_name">이름</div>
        <div>
          <input type="text" name="name" class="input_text" placeholder="{{user.name}}"/>
        </div>
        <div class="text_name">닉네임</div>
        <div>
          <input type="text" name="nickname" class="input_text" value="{{user.nickname}}" placeholder="{{user.nickname}}"/>
        </div>
        <div class="text_name">생년월일</div>
        <div>
          <input type="date" name="birth" id="birth" class="input_text" placeholder="{{user.birth}}"/>
          <script>
              document.querySelector('#birth').defaultValue = "{{ user.birth|date:'Y-m-d' }}";
          </script>
        </div>
        <div class="text_name">성별</div>
        <div>
          <select name="gender" id="sex"  class="input_select">
            <option value="남자">남</option>
            <option value="여자">여</option>
          </select>
        </div>
        <div class="container_button">
          <button class="input_button">가입</button>
        </div>
      </div>
    </div>
  </form>
  </body>
</html>
