{% extends 'nav.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>과팅 게시판</title>
    <link rel="stylesheet" href="{% static 'css/campus_main.css' %}" />
  </head>
  <body>
    <div class="board">
      {% if request.user.is_authenticated %}
      <a href="{% url 'campus_write' %}" class="write">글쓰기</a>
      {% else %}
      <a
        href="{% url 'login' %}"
        onclick="alert('로그인이 필요합니다');"
        class="write"
        >글쓰기</a
      >
      {% endif %}
      <table class="board_list">
        <caption>
          게시판 목록
        </caption>
        <thead>
          <tr>
            <th>학과</th>
            <th>제목</th>
            <th>인원수</th>
            <th>성별</th>
          </tr>
        </thead>
        <tbody>
          {% for campus in campuses %}
          <tr>
            <td>{{campus.major}}</td>
            <td class="click">
              <a href="{% url 'campus_detail' campus.id user.id %}"
                >{{campus.title}}</a
              >
            </td>
            <td>{{campus.count}}명</td>
            {% if date.gender == "남자" %}
            <td class="gender-man">{{campus.gender}}</td>
            {% else %}
            <td class="gender">{{campus.gender}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="page">
        <a href="#">&lt;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&gt;</a>
      </div>
    </div>
  </body>
</html>
{% endblock %}
