{% extends 'nav.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>과팅 게시글</title>
    <link rel="stylesheet" href="{% static 'css/campus_detail.css' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <span class="head">{{campus.title}}</span>
        {% if request.user.id == campus.user_id %}
        <span class="revise">
          <a href="{% url 'campus_edit' campus.id user.id %}">수정</a>
        </span>
        <span class="delete">
          <a href="{% url 'campus_remove' campus.id %}">삭제</a>
        </span>
        {% endif %}
      </div>
      <div class="text">{{campus.contents}}</div>
      <div class="information">
        <span class="info">정보</span>
        <span class="info-write">글쓴이가 입력한 정보입니다.</span>
        <div class="info-list">
          <span class="gender">성별: </span>
          <span class="gender-spec">{{campus.gender}}</span>
          <span class="major">학과: </span>
          <span class="major-spec">{{campus.major}}</span>
          <span class="count">인원수: </span>
          <span class="count-spec">{{campus.count}}명</span>
          <span class="time">시간: </span>
          <span class="time-spec"
            >{{campus.month}}월 {{campus.day}}일 {{campus.hour}}시</span
          >
        </div>
      </div>
      <form class="reply" method="post">
        {% csrf_token %}
        <input type="text" name="contents" placeholder="댓글을 입력하세요" class="reply-text" />
        <input type="submit" value="제출" class="submit" />
      </form>


        {% for comment in comments %}
        <div class="comment">
          <div class="comment_major">{{comment.major}} &nbsp; </div>
          <span> 익명{{comment.id}} :&nbsp;</span>
          <span>{{comment.contents}}</span>
          <div class="remove">
            <a href="{% url 'campus_comment_delete' comment.id campus.id user.id %}"
              >삭제</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
{% endblock %}
