{% extends 'nav.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이상형 게시판</title>
    <link rel="stylesheet" href="{% static 'css/date_main.css' %}" />
  </head>
  <body>
    <div class="board">
      {% if request.user.is_authenticated %}
      <a href="{% url 'date_write' %}" class="write">글쓰기</a>
      {% else %}
      <a
        href="{% url 'login' %}"
        class="write"
        onclick="alert('로그인을 해주세요!')"
        >글쓰기</a
      >
      {% endif %}
      <table class="board_list">
        <caption>
          게시판 목록
        </caption>
        <thead>
          <tr>
            <th>성별</th>
            <th>제목</th>
            <th>나이</th>
            <th>MBTI</th>
          </tr>
        </thead>
        <tbody>
          {% for date in dates %}
          <tr>
            <td class="male">{{date.gender}}</td>
            <td class="click">
              <a href="{% url 'date_detail' date.id %}">{{date.title}}</a>
            </td>
            <td>{{date.age}}</td>
            <td>{{date.MBTI}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="page">
        <a href="#">&lt;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&gt;</a>
      </div>
    </div>
  </body>
</html>
{% endblock %}
