aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
browser-cookie3==0.12.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cloudinary==1.26.0
configparser==5.0.2
cryptography==3.4.7
DateTime==4.3
dj-database-url==0.5.0
Django==3.2.5
gunicorn==20.1.0
idna==3.2
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.1.0
lz4==3.1.3
multidict==5.1.0
ndg-httpsclient==0.5.1
pbkdf2==1.3
Pillow==8.3.1
playsound==1.3.0
psycopg2==2.9.1
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.10.1
pyOpenSSL==20.0.1
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.26.0
SecretStorage==3.3.1
six==1.16.0
sqlparse==0.4.1
telepot==12.7
typing-extensions==3.10.0.0
urllib3==1.26.6
whitenoise==5.3.0
yarl==1.6.3
zipp==3.5.0
zope.interface==5.4.0
